*{
    margin: 0;
    box-sizing: border-box;
}

footer{
    position: fixed;
    top: 0;
}
h2{
    width: 431px;
    margin: 0 auto;
}
footer img{
    height: 50px;
}
h2,.select{
    border-bottom: 1px solid rgb(114, 105, 105);
}
.luca{
    border-top: 1px solid rgb(114, 105, 105) ;
    width: 448px;
    margin: 0 auto;
    position: relative;
    top: 7px;
    left: 10px
}



.icon{
    width: 60px;
}

.icona{
    height: 60vh;
}

a{
    text-decoration: none;
    border: 1px solid rgb(114, 105, 105);
    padding: 5px;
    color: rgb(114, 105, 105);
}

btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.autoplay{
    width: 335px;
    border-top: 1px solid rgb(114, 105, 105) ;
}

.btn{
    height: 50px;
    width: 100%;
    border: 1px solid rgb(114, 105, 105);
    color: rgb(114, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;

}

footer svg{
    width: 60px;
}