body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header-content ul{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(228, 253, 253);
    color: rgb(116, 49, 49);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px;
    height: 150px;
    
}

#nav-bar{
    width: 50px;
}

#header-content{
    width: 100%;
    margin: 0 auto;
    
    font-size: 1.5em;
}
span{
    font-size: 2em;
}

ul li{
    background-color: rgb(246, 253, 177);
    border-radius: 100px;
    width:150px;
    text-align: center;
    padding: 5px;
}

h1{
    margin-top: 50px;
}

#product-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(228, 253, 253);
    border-radius: 100px;
    height: 390px;
    text-align: center;
    margin: 10px;
    
}

#product-card img{
    border-radius: 100px 100px 0 0;
}

button{
    background-color: rgb(246, 253, 177);
    width: 150px;
    margin: 0 auto;
    border-radius: 100px;
    

}

#product-content{
    text-align: start;
    margin-left: 10px;
}

#product-kg{
    position: relative;
    left: 103px;
    top: -63px;
    font-size: 25px;
}
 
#product-content h2{
    font-size: 1.5em;
   
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer{
    width: 90%;
    border-radius: 50px;
    background-color:  rgb(228, 253, 253);
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}

h3{
    font-size:2em;
    color: rgb(116, 49, 49);
    font-weight: bold;
}
h4{
    font-size:1em;
    color: rgb(116, 49, 49);
    font-weight: bold;
}
 footer img{
    margin: 0 auto;
    width: 100%;
    border-radius: 0 0 100% 100px;
 }

 @media screen and (min-width: 700px) and (max-width: 900px){
    ul{
        display: flex;
        flex-wrap: wrap;

    }
    ul li{
        font-size: 0.8em;
        width: 120px;
        padding: 0;

    }
    span{
        font-size: 1.2em;
    }
    #nav-bar{
        text-align: center;
        position: relative;
    }
 }

 @media screen and (min-width: 400px) and (max-width: 699px){
    ul{
        
        display: flex;
        flex-direction: column;
        
    }
    #header-content{
        display: flex;
        flex-direction: column;
        height: 200px;
    }

 }