<form>
  <input class="form-control" type="email" name="email" placeholder="email" [(ngModel)]="data.email">
  <input class="form-control" type="password" name="password" placeholder="password" [(ngModel)]="data.password">
  <input class="form-control" type="name" name="name" placeholder="nome" [(ngModel)]="data.name">
  <input class="form-control" type="surname" name="surname" placeholder="surname" [(ngModel)]="data.surname">
  <button class="btn btn-primary" (click)="register"></button>
</form>
