
nav{
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    
    li {
        font-size: 1.1em; 
        list-style-type: none;
        padding: 10px;
        display: inline;
        
    }img{
        width: 50px;
        border-radius: 100%;
    }
}

$btn-colors: ("blue": #0e6cff, "orange": #ff8700, "green": #4caf50);
@each $name, $col in $btn-colors{
    .btn-#{$name}{
        background-color: $col;
        color: #f4f4f4;
    }
}